#include <windows.h>

#define IDI_ICON 101

IDI_ICON ICON "ico/binax.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     0,7,0,0
PRODUCTVERSION  0,7,0,0
FILEFLAGSMASK   0x3fL
FILEFLAGS       0x0L
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "VladPim"
            VALUE "FileDescription",  "BinaxEngine"
            VALUE "FileVersion",      "0.7.0.0"
            VALUE "InternalName",     "BinaxEngine"
            VALUE "LegalCopyright",   "Copyright (C) 2026 VladPim"
            VALUE "OriginalFilename", "BinaxEngine.exe"
            VALUE "ProductName",      "BinaxEngine"
            VALUE "ProductVersion",   "0.7.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
